<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">



	<!-- auto-config="true" hace que si el usuario no esta permitido acceder 
		al link, spring le manda la pantalla de login -->
	<!-- <security:http auto-config="true"> -->
	<security:http use-expressions="true" path-type="regex">

		<!-- Por cada una de las urls que vayamos a proteger ponemos el siguiente 
			bloque -->
		<security:intercept-url pattern="/blog/[0-9]+/editar(\?.*)?"
			access="hasAnyRole('ROLE_ADMIN','ROLE_EDITOR')" />
		<security:intercept-url pattern="/blog/[0-9]+/guardar"
			access="hasAnyRole('ROLE_ADMIN','ROLE_EDITOR')" />

		<security:intercept-url pattern="/usuario/[0-9]+/editar(\?.*)?"
			access="hasRole('ROLE_ADMIN')" />
		<security:intercept-url pattern="/usuario/[0-9]+/guardar"
			access="hasRole('ROLE_ADMIN')" />

		<!-- Configuración de la página de logeo -->
		<!-- default-target-url define la ruta de entrada que se hace si el usuario 
			se logea desde /login -->
		<security:form-login login-processing-url="/autentificar"
			username-parameter="email" password-parameter="password" login-page="/login"
			default-target-url="/blog/1" authentication-failure-url="/login?errorLogin=true" />

		<!-- No es necesario definir una ruta de vista para logout -->
		<security:logout logout-url="/logout"
			logout-success-url="/blog/1" />

		<!-- Asociar esta ruta en un controlador y archivo jsp -->
		<security:access-denied-handler
			error-page="/error-403" />
	</security:http>

	<security:authentication-manager>
		<security:authentication-provider>

			<!-- <security:user-service> -->

			<!-- <security:user name="juan@email.com" password="1234" -->
			<!-- authorities="ROLE_ADMIN" /> -->
			<!-- <security:user name="pepe@email.com" password="1234" -->
			<!-- authorities="ROLE_EDITOR" /> -->

			<!-- </security:user-service> -->

			<security:jdbc-user-service
				data-source-ref="dataSource"
				users-by-username-query="SELECT email,password,activo FROM usuarios WHERE email=?"
				authorities-by-username-query="SELECT email, rol FROM usuarios WHERE email=?" />

		</security:authentication-provider>
	</security:authentication-manager>


</beans>
